name: Build and package

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - run: npm ci

      - run: npm run build

      # prune dev deps for smaller extension size
      - name: Package extension for Claude desktop app
        run: |
          npm prune --production
          npm run pack
